/******************   RESET CSS   ****************/
body,
h1,
h2,
h3,
p,
img,
i,
a,
input,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
    color: black;
}
nav,
ul {
    list-style-type: none;
}
/*********************** END RESET CSS *******************/

/****************** General *************************/
body {
    width: 100%;
    display: flex;
    justify-content: center;
}
h1,
h2 {
    font-weight: 700;
    font-size: 22px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
}
p {
    font-weight: 400;
    font-size: 14px;
}

/*********************************************************/
/********************** Desktop 1440px *******************/
/*********************************************************/

/****************** Main ******************/
.main {
    min-width: 1024px;
    max-width: 1440px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/****************** Header ******************/
header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 50px;
    margin-right: 50px;
}
.logo {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
}
.xlarge {
    display: none;
}
.normal {
    display: block;
}
header > nav > ul {
    display: flex;
    font-weight: 500;
    font-size: 16px;
}
header > nav > ul > li {
    margin-left: 69px;
    font-size: 16px;
    font-weight: 400;
}

header > nav > ul > li > a {
    display: flex;
    justify-content: center;
    padding-top: 14px;
    border-top: 2px solid transparent;
}
header > nav > ul > li > a:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/****************** research ******************/
.research {
    margin-top: 60px;
    margin-left: 50px;
}
.subtitle {
    margin-top: 8px;
    margin-bottom: 35px;
}
.researchInput {
    display: flex;
    width: 377px;
    height: 49px;
}
.mapButton {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 15px 18px 16px 18px;
    border-radius: 15px 0px 0px 15px;
}
.mapButton > i {
    font-size: 18px;
}
.researchInput input {
    width: 100%;
    height: 47px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
input[type="text" i] {
    font-weight: 700;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.researchInput input:focus {
    outline: none;
    background-color: #deebff;
}
.researchInput input::placeholder {
    font-weight: 700;
    font-size: 18px;
    color: #aeadad;
}
.researchButton {
    color: white;
    background-color: #0065fc;
    padding: 14px 16px;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
}
.researchButton i {
    display: none;
}

/****************** filtre ******************/
.filter {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 35px;
    height: 50px;
}
.filter > h3 {
    font-size: 18px;
}
.filter > div {
    display: flex;
    margin-left: 15px;
}
.filter .buttonContainer a .buttonBorder {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-right: 15px;
}
.filter .buttonContainer a .buttonBorder i {
    color: #0065fc;
}
.filter .buttonContainer a .buttonBorder .money {
    font-size: 16.26px;
}
.filter .buttonContainer a .buttonBorder .person {
    font-size: 22px;
}
.filter .buttonContainer a .buttonBorder .heart {
    font-size: 18.33px;
}
.filter .buttonContainer a .buttonBorder .fire {
    font-size: 20.08px;
}
.filter .buttonContainer a .buttonBorder h3 {
    margin: 13px 0px 13px 10px;
    font-size: 17px;
}
.filter .buttonContainer a .buttonBorder:hover {
    background-color: #deebff;
}

/****************** info (i) ******************/
.info {
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.info p {
    font-size: 16px;
}
.info > .circle {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 6px 9px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
}

/****************** Result ******************/
.searchResult {
    display: flex;
    margin: 35px 50px 65px 50px;
}

/****************** MainSearchResult ******************/
.mainSearchResult {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-left: 30px;
    margin-right: 40px;
}
.mainSearchResult > h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.cardsMainSearchResult {
    display: flex;
    flex-wrap: wrap;
}
.cardsMainSearchResult > article {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.cardsMainSearchResult > article > a {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 31px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    height: 100%;
}
.cardsMainSearchResult > article > a > img {
    height: 116px;
    border-radius: 20px 20px 0px 0px;
    padding: 4px;
    object-fit: cover;
}
.cardsMainSearchResult > article > a > .xlarge,
.cardsMainSearchResult > article > a > .medium,
.cardsMainSearchResult > article > a > .small {
    display: none;
}
.cardsMainSearchResult > article > a .articleDescription {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 15px;
}
.cardsMainSearchResult > article > a .articleDescriptionTitle {
    margin-bottom: 8px;
}
.cardsMainSearchResult > article > a .articleDescriptionText {
    font-size: 14px;
    margin-bottom: 8px;
}
.cardsMainSearchResult > article > a .articleStars {
    display: flex;
    flex-direction: row;
}
.articleStars i {
    margin-right: 2.38px;
    font-size: 13.25px;
    color: #0065fc;
}
.articleStars .lastStar {
    color: #f2f2f2;
}

.more {
    margin-bottom: 30px;
    font-size: 18px;
}

/****************** Popular ******************/
.popular {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 369px;
    flex-shrink: 0;
}
.popular .popularHeader {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .popularHeader a .chart {
    color: #0065fc;
    font-size: 15.75px;
}
.cardsPopular {
    display: flex;
    flex-direction: column;
}
.cardsPopular > article {
    margin-bottom: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.cardsPopular > article > a {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 144px;
}
.cardsPopular > article > a > img {
    width: 119px;
    border-radius: 20px 0px 0px 20px;
    padding: 4px 0px 4px 4px;
    object-fit: cover;
}
.cardsPopular > article > a .popularArticleDescription {
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardsPopular > article > a .popularArticleDescriptionTitle {
    margin-bottom: 5px;
}
.cardsPopular > article > a .articleStars {
    display: flex;
    flex-direction: row;
}
.cardsPopular > article > a .articleStars i {
    margin-right: 2px;
    font-size: 12px;
}
.cardsPopular > article > a > .xlarge,
.cardsPopular > article > a > .medium,
.cardsPopular > article > a > .small {
    display: none;
}
.cardsPopular > article > a > .large {
    display: block;
}

/****************** Activities ******************/
.activities {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 65px;
}
.activities > div {
    padding-left: 30px;
}
.activities_cards {
    display: flex;
    margin-top: 30px;
    width: 100%;
}
.activities_cards > article {
    width: 25%;
}
.activities_cards > article > a {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    height: 100%;
}
.activities_cards > article > a > img {
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.cardDescription > h3 {
    padding-left: 19px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 19px;
}
.activities_cards > article > a > .xlarge,
.activities_cards > article > a > .medium,
.activities_cards > article > a > .small {
    display: none;
}
.activities_cards > article > a > .large {
    display: block;
}

/****************** Footer ******************/
footer {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    background-color: #f2f2f2;
}
footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
footer > nav {
    flex-grow: 1;
    padding-left: 20px;
}
footer > nav li {
    margin-bottom: 15px;
}

/****************** Responsive ******************/

/*********************************************************/
/******************* Large Desktop >1440px ***************/
/*********************************************************/

@media screen and (min-width: 1441px) {
    /****************** Header ******************/
    .xlarge {
        display: block;
    }
    .normal {
        display: none;
    }
    /****************** MainSearchResult ******************/
    .cardsMainSearchResult > article > a > .large,
    .cardsMainSearchResult > article > a > .medium,
    .cardsMainSearchResult > article > a > .small {
        display: none;
    }
    .cardsMainSearchResult > article > a > .xlarge {
        display: block;
    }
    /****************** Popular ******************/
    .cardsPopular > article > a > .large,
    .cardsPopular > article > a > .medium,
    .cardsPopular > article > a > .small {
        display: none;
    }
    .cardsPopular > article > a > .xlarge {
        display: block;
    }
    /****************** Activities ******************/
    .activities_cards > article > a > .large,
    .activities_cards > article > a > .medium,
    .activities_cards > article > a > .small {
        display: none;
    }
    .activities_cards > article > a > .xlarge {
        display: block;
    }
}
@media screen and (max-width: 1250px) {
    .cardsMainSearchResult > article {
        width: 50%;
    }
}

/*********************************************************/
/********************* Tablet <1024px *********************/
/*********************************************************/

@media screen and (max-width: 1023px) {
    /****************** Main ******************/
    .main {
        min-width: 768px;
    }
    /****************** filtre ******************/
    .filter {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .filter > .buttonContainer {
        margin-left: 0px;
        margin-top: 20px;
    }
    /****************** Result ******************/
    .searchResult {
        flex-direction: column;
    }
    /****************** MainSearchResult ******************/
    .mainSearchResult {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .cardsMainSearchResult > article > a > .xlarge,
    .cardsMainSearchResult > article > a > .large,
    .cardsMainSearchResult > article > a > .small {
        display: none;
    }
    .cardsMainSearchResult > article > a > .medium {
        display: block;
    }
    /****************** Popular ******************/
    .popular {
        width: auto;
    }

    .popular .popularHeader {
        margin-bottom: 20px;
    }
    .cardsMainSearchResult > article {
        width: 33.33%;
    }
    .cardsPopular {
        flex-direction: row;
    }
    .cardsPopular > article {
        width: 33.33%;
        margin-right: 20px;
    }
    .cardsPopular > article > a > img {
        width: 91.67px;
    }
    .cardsPopular > article > a > .popularArticleDescription {
        overflow: scroll;
    }
    .cardsPopular > article > a > .xlarge,
    .cardsPopular > article > a > .large,
    .cardsPopular > article > a > .small {
        display: none;
    }
    .cardsPopular > article > a > .medium {
        display: block;
    }
    /****************** Activities ******************/
    .activities_cards > article > a > img {
        height: 200px;
    }
    .activities_cards > article > a > .xlarge,
    .activities_cards > article > a > .large,
    .activities_cards > article > a > .small {
        display: none;
    }
    .activities_cards > article > a > .medium {
        display: block;
    }
}

/*********************************************************/
/********************* Mobile <768px **********************/
/*********************************************************/

@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }
    /****************** Main ******************/
    .main {
        min-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    /****************** Header ******************/
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    header > nav {
        width: 100%;
    }
    header > nav > ul > li {
        margin-left: 0px;
    }
    header > nav > ul {
        display: flex;
    }
    header > nav > ul > li {
        padding-top: 30px;
        width: 50%;
    }
    header > nav > ul > li > a {
        display: flex;
        justify-content: center;
        padding-bottom: 13px;
        padding-top: 0;
        border-bottom: 2px solid transparent;
        border-top: 0px;
    }
    header > nav > ul > li > a:hover {
        color: #0065fc;
        padding-bottom: 13px;
        border-bottom: 2px solid #0065fc;
        border-top: 0px;
    }
    /****************** research ******************/
    .research {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .research .subtitle {
        font-size: 16px;
    }
    .researchInput {
        width: auto;
    }
    .researchButton {
        border-radius: 15px;
        display: flex;
        align-items: center;
        margin-left: -15px;
        z-index: 3;
    }
    .researchButton i {
        display: block;
        font-size: 17px;
    }
    .researchButton span {
        display: none;
    }
    /****************** filtre ******************/
    .filter {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .filter > .buttonContainer {
        margin-left: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-between;
        width: 100%;
    }
    .filter > .buttonContainer > a {
        margin-bottom: 20px;
        width: 49%;
    }
    .filter .buttonContainer a .buttonBorder {
        margin-right: 0px;
    }
    .filter svg {
        flex-shrink: 0;
    }
    .filter .buttonContainer a .buttonBorder h3 {
        font-size: 14px;
        margin: 15px 0px 15px 10px;
    }
    /****************** info (i) ******************/
    .info {
        margin-top: 25px;
    }
    /****************** Result ******************/
    .searchResult {
        flex-direction: column-reverse;
        margin: 35px 0px 0px 0px;
        width: 100%;
    }
    /****************** Popular ******************/
    .popular {
        width: auto;
        border-radius: 0;
        padding: 0px 20px;
    }
    .popular .popularHeader {
        margin: 30px 0 15px 0;
    }
    .cardsPopular {
        flex-direction: column;
        margin-bottom: 15px;
    }
    .cardsPopular > article {
        width: auto;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .cardsPopular > article > a > .xlarge,
    .cardsPopular > article > a > .large,
    .cardsPopular > article > a > .medium {
        display: none;
    }
    .cardsPopular > article > a > .small {
        display: block;
    }
    /****************** MainSearchResult ******************/
    .mainSearchResult {
        margin-bottom: 0px;
        margin-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
    }
    .mainSearchResult h2 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .cardsMainSearchResult {
        flex-direction: column;
    }
    .cardsMainSearchResult > article {
        width: auto;
    }
    .cardsMainSearchResult > article a {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .more {
        margin-bottom: 20px;
    }
    .cardsMainSearchResult > article > a > .xlarge,
    .cardsMainSearchResult > article > a > .large,
    .cardsMainSearchResult > article > a > .medium {
        display: none;
    }
    .cardsMainSearchResult > article > a > .small {
        display: block;
    }
    /****************** Activities ******************/
    .activities {
        width: 100%;
        margin-top: 35px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 35px;
    }
    .activities > div {
        padding: 30px 30px 15px 30px;
    }
    .activities > div > h2 {
        margin-bottom: 30px;
    }
    .activities_cards {
        flex-direction: column;
    }
    .activities_cards > article {
        width: auto;
        margin-bottom: 15px;
    }
    .activities_cards > article > a > img {
        height: 141px;
    }
    .activities_cards > article > a {
        margin-right: 0px;
    }
    .activities_cards > article > a > .xlarge,
    .activities_cards > article > a > .large,
    .activities_cards > article > a > .medium {
        display: none;
    }
    .activities_cards > article > a > .small {
        display: block;
    }
    /****************** Footer ******************/
    footer {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        width: 100%;
    }
    footer > nav {
        margin-left: 30px;
        margin-bottom: 50px;
        padding-left: 0;
    }
    footer > nav:nth-child(1) {
        margin-top: 30px;
    }
    footer > nav:nth-child(3) {
        margin-bottom: 30px;
    }
}
